/* review-user */
.review-user {
  color: var(--gray-color-40);
  width: 100px;
  margin-right: 2rem;
}

.review-user-img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

/* 미디어 쿼리 */
/* 576px보다 작은 경우 */
@media screen and (max-width: 576px) {
  /* 유저 정보 숨김 */
  .review-user {
    display: none !important;
  }
}
