@import url('../../lib/styles/color.css');

.boxoffice-img {
  width: 200px;
  height: 270px;
  overflow: hidden;
}

.boxoffice {
  margin: 1rem;
  width: 200px;
}

.boxoffice-content {
  margin-top: 0.5rem;
  text-align: center;
}
.boxoffice-content h4 {
  color: var(--gray-color-40);
}
.boxoffice-content p {
  color: var(--gray-color-30);
  font-size: 0.8rem;
}
