@import url('../../lib/styles/color.css');

.bgColor {
  background-color: var(--violet-color-main);
  border: 1px solid var(--violet-color-main);
}
.bgColor:hover,
.bgColor:focus {
  background-color: var(--violet-color-20);
  border: 1px solid var(--violet-color-20);
}

.bgColor--outline {
  background-color: white;
  border: 1px solid var(--violet-color-main);
  color: var(--gray-color-30);
}
.bgColor--outline:hover,
.bgColor--outline:focus,
.bgColor--outline:active {
  background-color: var(--violet-color-20);
  border: 1px solid var(--violet-color-20);
}
