@import url('../../lib/styles/color.css');

.btn-violet {
  background-color: var(--violet-color-main);
  color: white;
  border: 1px solid var(--violet-color-main);
}
.btn-violet:hover,
.btn-violet:focus {
  background-color: var(--violet-color-20);
  border: 1px solid var(--violet-color-20);
}

.btn-violet--outline {
  background-color: white;
  border: 1px solid var(--violet-color-main);
  color: var(--gray-color-30);
}
.btn-violet--outline:hover,
.btn-violet--outline:focus,
.btn-violet--outline:active {
  background-color: var(--violet-color-20);
  border: 1px solid var(--violet-color-20);
}
