@import url('../../lib/styles/color.css');

.show-container {
  background-color: var(--violet-color-20);
  /* height: 300px; */
  position: relative;
  margin-bottom: 8rem;
  padding-top: 5rem;
}
.show-container .show-star {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0;
  color: var(--gray-color-10);
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  z-index: 10;
}
/* path가 아닌 show-star가 눌릴 수 있도록 CSS 설정 */
.show-star path {
  pointer-events: none;
}
.show-star.active {
  color: gold;
}
/* 포스터 크기 고정 */
.show-poster-box {
  width: 200px;
  height: 280px;
  position: relative;
}
.show-container .show-poster {
  width: 100%;
  height: 100%;
  background-color: var(--gray-color-40);
  overflow: hidden;
  position: absolute;
  /* 1.2배 증가-> 12% 이동 */
  transform: scale(1.2);
  left: 12%;
  top: 1rem;
}
.show-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* 공연 정보 */
.show-container .show-content {
  /* max-height: 200px; */
  /* width: 500px; */
  /* overflow: auto; */
  padding: 1rem 0;
  margin-left: 4rem;
}
.show-title {
  color: white;
}
.show-text {
  color: white;
  font-size: 0.8rem;
  margin: 0;
  margin-top: 0.1rem;
}

.show-container .show-story {
  position: relative;
  padding: 0;
}
.show-container .show-story-content {
  /* text-align: end; */
  overflow: hidden;
  padding: 1rem;
  /* height: 200px; */
}
.show-container .show-story button {
  position: absolute;
  width: 150px;
  bottom: -3rem;
  align-self: flex-end;
}

/* 미디어 쿼리 */
/* 브레이크 포인트 별 margin 설정 */
@media screen and (max-width: 1200px) {
  .show-container .show-story-content {
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .show-container .show-story-content {
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .show-container .show-content {
    margin-top: 3rem;
    margin-left: 2rem !important;
    padding-left: 1rem;
  }
  .show-story-content {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 576px) {
  .show-container .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .show-container .show-poster {
    left: 0;
    top: 0;
  }
  .show-container .show-content {
    text-align: center;
    margin-top: 2rem;
    margin-left: 0rem !important;
    padding-left: 0;
    padding-top: 3rem;
  }
  .show-container .show-story-content {
    text-align: center;
    margin-top: 0rem;
    padding-top: 1rem;
  }
}
