@import url('../../lib/styles/color.css');

.header {
  border-bottom: 1px solid var(--gray-color-10);
  background-color: white;
}

.searchbar {
  width: 60%;
}

/* 브레이크 포인트 md*/
@media (max-width: 768px) {
  .searchbar {
    width: 100%;
  }
}

.header-text {
  color: var(--violet-color-20) !important;
}
