@import url('../../lib/styles/color.css');

.pagination li a,
.pagination li a:hover {
  color: var(--violet-color-20);
}
.pagination > .active > span {
  color: white;
  background-color: var(--violet-color-20) !important;
  border: solid 1px var(--violet-color-20) !important;
}
